.hidden {
    display: none;
}

article {
    text-align: center;
}

#yellow {
    color: yellow;
}

.orange {
    color: orange;
}

#pink {
    color: pink;
}

#purple {
    color: purple;
}

#green {
    color: green;
}

#grapefruitsvg:hover #stripes {
    transition: 0.5s ease;
    transform-origin: center;
}

#grapefruitsvg:hover #stripes {
    transform: rotate(360deg);
}

.fruitsvgs {
    width: 500px;
    height: 500px;
}
